    <script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/core/popper.min.js" type="text/javascript"></script>
    <script src="/javascripts/core/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/now-ui-kit.min.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
